logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
typings
.npm
.node_repl_history
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.pid.lock
*.lcov
bower_components
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tgz
.yarn-integrity
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.webpack/
.svelte-kit
.DS_*
**/*.backup.*
**/*.back.*
*.sublime*
psd
thumb
sketch
/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
/.next/
/out/
*.pem
.env*.local
.vercel
next-env.d.ts
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
# testing
/http
/http2
# next.js
# production
# misc
# debug
# local env files
cypress.env.json
# vercel
# typescript
yarn.lock
yarn.error.log
package-lock.json
# test
cypress/videos
cypress/screenshots